---
import BaseLayout from "../layouts/BaseLayout.astro";
import Heading from "../components/Heading.vue";
import PrimaryButton from "../components/PrimaryButton.vue";
---

<BaseLayout title="Bli medlem">
  <div class="flex flex-col gap-5 mt-[33vh]">
    <PrimaryButton href="https://nyan.cat/">Jeg er overbevist 游꿀</PrimaryButton>
    <section>
      <Heading size={"sm"}>Hvorfor skal jeg melde meg inn?</Heading>
      <p>Som medlem kan du:</p>
      <ul class="list-disc list-inside">
        <li>Delta p친 v친re arrangementer</li>
        <li>Stemme p친 친rsm칮tet</li>
        <li>St칮tte v친r sak</li>
      </ul>
    </section>
    <section>
      <Heading size={"sm"}>Hvor mye koster det?</Heading>
      <p>Det koster 50 kroner i 친ret 친 v칝re medlem av GOKK.</p>
    </section>
  </div>
</BaseLayout>
