---
import "@fontsource/jetbrains-mono";
import Heading from "../components/Heading.vue";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
  </head>
  <body class="min-h-screen flex items-center flex-col gap-5">
    <nav class="self-start">
      <a href="/"><Heading>GOKK</Heading></a>
    </nav>
    <article class="max-w-xl p-3 w-full mb-[30vh]">
      <slot />
      <!-- your content is injected here -->
    </article>
  </body>
</html>
